@model ProductSearchBarResponseVM

<div class="join shadow-sm relative group w-full">
    <input type="search" placeholder="@Model.Placeholder" asp-for="@Model.SearchName"
           hx-get="?handler=ProductSearchBar"
           hx-target="#search-results-list"
           hx-select="#search-results-list"
           hx-trigger="input changed delay:500ms, search"
           hx-swap="outerHTML"
           class="input input-bordered join-item w-full min-w-50 lg:min-w-112.5 bg-base-100 border-base-300 focus:outline-none focus:border-primary peer" />
    <button class="btn btn-primary join-item px-6">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
             class="w-5 h-5 text-primary-content">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
        </svg>
    </button>
    
    @* Drop down will appear product here *@
    <div id="search-results-list"
        class="absolute top-full left-0 mt-2 w-full bg-base-100 rounded-box shadow-xl border border-base-200 p-2 hidden peer-focus:block hover:block z-50">
        <ul class="menu menu-sm bg-base-100 w-full rounded-box">
            @if (Model.Products.Any())
            {
                foreach (var product in Model.Products)
                {
                    <li>
                        <a href="/Products?id=@product.Id" class="flex items-center gap-3 py-2">
                            <img src="@(string.IsNullOrEmpty(product.ImageUrl) ? $"https://placehold.co/100x100/png?text={product.Name.Replace(" ", "+")}" : product.ImageUrl)" alt="@product.Name" class="w-10 h-10 rounded object-cover" />
                            <div class="flex flex-col">
                                <span class="font-bold text-base-content">@product.Name</span>
                                <span class="text-base-content">@product.CategoryName</span>
                            </div>
                        </a>
                    </li>
                }
            }
            else
            {
                <li><a class="opacity-50 italic">@Model.Placeholder</a></li>
            }
        </ul>
    </div>
</div>
